<div class="login-page">
<div class="row justify-content-center">
  <div class="col-lg-8">
    <img class="login-logo" src="assets/bidtracker.png" alt="">
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-2">
    {{#if session.isAuthenticated}}
      <a class="btn btn-google" {{action 'invalidateSession'}}>
        {{fa-icon "google"}} <span class="btn-text">Logout</span>
      </a>
    {{else}}
      <a class="btn btn-google" {{action 'authenticateSession'}}>
        {{fa-icon "google"}} <span class="btn-text">Sign in with Google</span>
      </a>
    {{/if}}
  </div>
</div>
</div>